[submodule "src/wilbur"]
	path = src/wilbur
	url = https://github.com/NASA-JSC-Robotics/wilbur.git
[submodule "src/external/ros2_robotiq_gripper"]
	path = src/external/ros2_robotiq_gripper
	url = https://github.com/NASA-JSC-Robotics/ros2_robotiq_gripper.git
[submodule "src/external/dextivr_hande"]
	path = src/external/dextivr_hande
	url = https://github.com/NASA-JSC-Robotics/dextivr_hande.git
[submodule "src/external/serial"]
	path = src/external/serial
	url = https://github.com/tylerjw/serial.git
