[submodule "src/wilbur"]
	path = src/wilbur
	url = git@js-er-code.jsc.nasa.gov:imetro/robots/wilbur/wilbur.git
[submodule "src/rockyard_world"]
	path = src/jsc_rockyard_world_gz
	url = git@js-er-code.jsc.nasa.gov:imetro/imetro_facility_resources/rockyard_world.git
[submodule "src/drt_ros2_ur_tools"]
	path = src/drt_ros2_ur_tools
	url = git@js-er-code.jsc.nasa.gov:imetro/drt_ros2_ur_tools.git
[submodule "src/jsc_rockyard_world_gz/"]
	url = git@js-er-code.jsc.nasa.gov:imetro/imetro_facility_resources/jsc_rockyard_world_gz.git
[submodule "src/serial"]
	path = src/serial
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/fm/serial.git
[submodule "src/ros2_robotiq_gripper"]
	path = src/ros2_robotiq_gripper
	url = https://github.com/NASA-JSC-Robotics/ros2_robotiq_gripper
[submodule "src/dextivr_hande"]
	path = src/dextivr_hande
	url = git@js-er-code.jsc.nasa.gov:hw-toolbox/robotiq/ros2/dextivr_hande.git
[submodule "src/mujoco_ros2_simulation"]
	path = src/mujoco_ros2_simulation
	url = https://github.com/NASA-JSC-Robotics/mujoco_ros2_simulation.git
